nav a {  color: #fff;  text-decoration: none; z-index:9999; }
nav a:hover { color: #e7e7e7; }
nav { /*background-color: #11b5d3; */}
nav ul {  margin: 0;  padding: 0;  list-style: none;  display: none;}
nav li, nav .nav-toggle {  text-align: left;  position: relative;  display: inline-block;  cursor: pointer;  width: 100%;}
nav .dropdown.open, .desktop nav li:hover { /*background-color: #34495e;*/ }
nav .dropdown.open > a:after, .desktop nav li:hover > a:after {  -webkit-transform: scaleY(-1);  -ms-transform: scaleY(-1);  transform: scaleY(-1);}
nav .dropdown ul {position: relative;  /*background: rgba(27, 27, 27, 0.95);*/  display: none; /*padding: 10px;*/ width: 100%; z-index: 1020; }
nav .dropdown:hover ul{display:block !important;}
nav .dropdown ul li { font-size: 13px; padding-left:20px; }
nav .dropdown ul li a{ color: #fff;  padding:3px 0 !important;}
nav .dropdown ul li i.fa.flaticon-chevron19{font-size: 13px; padding:0; margin-top:5px;}
nav a {display: block;  padding:7px 15px; position: relative;}
nav li em { position: absolute; color: #FFF; background-color: #FF6E40; height: 22px;line-height: 22px;width:22px; text-align: center;margin: -15px 0px 0px 12px;font-size: 8px; border-radius: 100%; display: inline-block; font-style: normal; top: 10px; left: 75px; }
nav li em a { color: #FFF; font-size: 8px; text-decoration: none; padding: 0; }

/*.desktop nav { width: 100%; margin: 20px; padding: 20px 20px 20px 0; }
.desktop nav li {  text-align: left; width: 100%; }
.desktop nav li:hover ul {-webkit-transform: scaleY(1);  -ms-transform: scaleY(1);  transform: scaleY(1);  visibility: visible;}
.desktop nav .dropdown:hover > a:after {  -webkit-transform: rotate(90deg);  -ms-transform: rotate(90deg);  transform: rotate(90deg);}
.desktop nav .dropdown ul {  top: 0;  left: 100%;  position: absolute;  display: block !important;  visibility: visible;  -webkit-transform: scaleY(0);  -ms-transform: scaleY(0);  transform: scaleY(0);  -webkit-transform-origin: top;  -ms-transform-origin: top;  transform-origin: top;  -webkit-transition: -webkit-transform 0.2s ease;  transition: transform 0.2s ease;}
*/.desktop nav .nav-toggle { display: none; }

.css-radio input[type=radio] { position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
.css-radio input[type=radio] + label { padding-left:20px; margin-right: 10px; height:17px; display:inline-block; line-height:17px; background-repeat:no-repeat; background-position: 0 0; font-size:12px;	color: #808080; vertical-align:middle; cursor:pointer;}
.css-radio input[type=radio]:checked + label { background-position: 0 -17px; }
.css-radio label { background: url(../images/cssradiobox.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.css-radio-feedback input[type=radio] { position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;}
.css-radio-feedback input[type=radio] + label { padding-left:20px; margin-right: 20px; height:17px; display:inline-block; line-height:17px; background-repeat:no-repeat; background-position: 0 0; font-size:12px;	color: #808080; vertical-align:middle; cursor:pointer;}
.css-radio-feedback input[type=radio]:checked + label { background-position: 0 -17px; }
.css-radio-feedback label { background: url(../images/cssradiobox.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
i.fa.flaticon-chevron19 {font-size:16px; color: #fff; float: left; margin:8px 5px 5px;}